<!DOCTYPE html>
<html>
<head>
  <style>
    #btn_create_acct {
    background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
    }

    #form_create_account{
      display: none;
    }

    #errors {
      color: red;
    }
  </style>
<title>Login</title>
<script>
function validateCreateForm(){
  return false;
}

function validateLoginForm(){
  console.log("validing login form");
  var email = document.forms["login_form"]["username"].value;
  var valid = valEmail(email);
  if(!valid){
    var errors = []
    errors.push("Invalid Email Address");
    showErrors(errors);
  }
  return valid;
}

function valEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}

function valPassword(pass) {
  return false;
}

function valPasswords(pass1, pass2) {
  return false;
}

function showErrors(errors){
  var errorParagraph = document.getElementById("errors");
  var errorText = ""
  for (var i = 0; i < errors.length; i++){
    errorText += errors[i] + "\n"
  }
  errorParagraph.innerHTML = errorText;
}
</script>
</head>
<body>

<h1>Welcome to DServe</h1>
<div id="form_login">
  <h4>Login</h4>
  <form name="login_form" action="login" method="post" onsubmit="return validateLoginForm()">
    Email Address: <br />
    <input type="email" name="username" />
    <br />
    Password: <br />
    <input type="password" name="password" />
    <br />
    <input type="hidden" name="form" value="login" />
    <input type="submit" value="Submit" />
  </form>
</div>

<div id="form_create_account">
  <h4>Create Account</h4>
  <form name="create_form" action="login" method="post" onsubmit="=return validateCreateForm()">
    Email Address: <br />
    <input type="email" name="username" />
    <br />
    Password: <br />
    <input type="password" name="password" />
    <br />
    <input type="password" name="password2" />
    <br />
    <input type="hidden" name="form" value="create_account" />
    <input type="submit" value="Submit" />
  </form>
</div>

<div>
  <button id="btn_create_acct" onclick="toggleForm()">or, create an account!</button>
</div>

<div>
  <p id="errors">

  </p>
</div>

<script>
var loginForm = document.getElementById("form_login");
var createForm = document.getElementById("form_create_account");
loginForm.style.display = "block";
createForm.style.display = "none";
function toggleForm(){
  if(loginForm.style.display == "none"){
    loginForm.style.display = "block";
  }else{
    loginForm.style.display = "none";
  }
  if(createForm.style.display == "none"){
    createForm.style.display = "block";
  }else{
    createForm.style.display = "none";
  }
}
</script>

</body>
</html>
