<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>

<div>
  <h1>Login to DServe</h1>
  <form action="">
    Email Address: <br />
    <input type="email" name="email" value="" />
    <br />
    Email Address: <br />
    <input type="password" name="pwd" value="" />
  </form>
</div>


</body>
</html>
