<!DOCTYPE html>
<html>
<head>
  <style>
    #btn_create_acct {
    background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
    }

    #errors {
      color: red;
    }
  </style>
<title>Login</title>
</head>
<body>

<h1>Welcome to DServe</h1>
<div id="div_login_form">
  <h4>Login</h4>
  <form id="login_form" name="login_form" action="account/login" method="post">
    Email Address: <br />
    <input type="email" name="email" />
    <br />
    Password: <br />
    <input type="password" name="pass" />
    <br />
    <input type="hidden" name="form" value="login" />
    <input id="login_form_submit" type="button" value="Submit" onclick="validateLoginForm()" />
  </form>
</div>

<div id="div_create_form">
  <h4>Create Account</h4>
  <form id="create_form" name="create_form" action="account/create" method="post">
    Email Address: <br />
    <input type="email" name="email" />
    <br />
    Create New Password: <br />
    <input type="password" name="pass1" />
    <br />
    <input type="password" name="pass2" />
    <br />
    <input type="hidden" name="form" value="create_account" />
    <input id="create_form_submit" type="button" value="Submit" />
  </form>
</div>

<div>
  <button id="btn_toggle_forms">or, create an account!</button>
</div>

<div>
  <ul id="errors">
    {{#each errors}}
    <li>
      {{ this }}
    </li>
    {{/each}}
  </ul>
</div>

<script src="/js/auth/login/bundle.js"></script>
</body>
</html>
